
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!--<app-sidebar></app-sidebar>-->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" >

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800 mt-4">Perfil</h1>
                    <p>Pode alterar qualquer um dos campos abaixo.</p>

                    <div class="row" *ngIf="showForm">
                        <div class = "col-lg-4">
                            <div class="card" >

                                <i class="bi bi-person-square" style="font-size: 200px; text-align: center; color: #858796;"></i>

                                <div class="card-body py-1">
                                    <div class=" text-center">

                                        <h5 class="fw-bolder">{{utilizador.nome}}</h5>
                                        <p *ngIf="role === 'ROLE_CONSUMIDOR'">Consumidor</p>
                                        <p *ngIf="role === 'ROLE_FORNECEDOR'">Fornecedor</p>
                                    </div>
                                <br>
                                <div class="col" ><a (click)="openConfirmar()"  class="btn btn-danger" style="font-size: 15px; display: table; margin: auto;">Eliminar Conta</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 secCollumn" style="background-color: #fff; border:1px solid #e3e6f0;">
                            <div class="p-5">
                                <form id="formEdit" class="user" [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                                    <div class="form-group row">
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <label  for="name">Nome:</label>
                                            <input type="text" formControlName="nome" class="form-control form-control-user" id="exampleFirstName" placeholder="Nome">
                                        </div>
                                        <div class="col-sm-4 idF">
                                            <label for="idFiscal">Id Fiscal:</label>
                                            <input (focus)="startIdFiscal= true" (focus)="onIdFiscalInput($event)" (input)="onIdFiscalInput($event)" minlength="9" maxlength="9" formControlName="idFiscal" type="idFiscal" class="form-control form-control-user" id="idFiscal" placeholder="Id Fiscal" required>
                                        </div>
                                        <div class= "idFiscalValMedia" *ngIf="startIdFiscal">
                                            <a [style.color]="numerosId&&!letrasId ? 'green' : 'red'">O idFiscal só pode conter números</a><br>
                                            <a [style.color]="oitoCaracteresId ? 'green' : 'red'">O idFiscal tem de conter 9 caracteres</a>
                                        </div>
                                        <div class="col-sm-4 contacto">
                                            <label for="tlmv">Contacto:</label>
                                            <input (focus)="startContacto= true" (focus)="onContactoInput($event)" (input)="onContactoInput($event)" minlength="9" maxlength="9" formControlName="telemovel" type="text" class="form-control form-control-user" id="contacto" placeholder="Contacto" required>
                                        </div>
                                        <div class= "idFiscalVal" *ngIf="startIdFiscal">
                                            <a [style.color]="numerosId&&!letrasId ? 'green' : 'red'">O idFiscal só pode conter números</a><br>
                                            <a [style.color]="oitoCaracteresId ? 'green' : 'red'">O idFiscal tem de conter 9 caracteres</a>
                                        </div>
                                        <div class= "contactoVal" *ngIf="startContacto">
                                            <a [style.color]="numerosContacto&&!letrasContacto ? 'green' : 'red'">O contacto só pode conter números</a><br>
                                            <a [style.color]="oitoCaracteresContacto ? 'green' : 'red'">O contacto tem de conter 9 caracteres</a>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: 3%">
                                        <div class="col-sm-4">
                                            <label for="freguesia">Freguesia:</label>
                                            <input formControlName="freguesia" type="text" class="form-control form-control-user" id="exampleFreguesia" placeholder="Freguesia">
                                        </div>
                                        <div class="col-sm-4 municipio">
                                            <label for="municipio">Município:</label>
                                            <input type="text" formControlName="municipio"  class="form-control form-control-user" id="exampleMunicipio" placeholder="Município">
                                        </div>
                                        <div class="col-sm-4 distrito">
                                            <label for="distrito">Distrito:</label>
                                            <input type="text" formControlName="distrito" class="form-control form-control-user" id="exampleDistrito" placeholder="Distrito">
                                        </div>
                                    </div>
                                    <div class="form-group row" >
                                        <div class="col-sm-8 mb-3 mb-sm-0">
                                            <label for="morada">Morada:</label>
                                            <input type="text" formControlName="morada" class="form-control form-control-user" id="exampleMorada" placeholder="Morada">
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0" style="margin-top:3%">
                                            <label for="morada">Código Postal:</label>
                                            <input formControlName="codPostal" type="text" class="form-control form-control-user" id="exampleCódigoPostal" placeholder="Código Postal" required>
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0" style="margin-top:3%">
                                            <label for="pais" class="d-block">País:</label>
                                            <select formControlName="pais" class="form-control-user p-2 text-warning fw-bold w-45" id="filtraSelect" name="filtraSelect" style="border-color: #d1d3e2; background-color: white; height: 48px; width: 100%;" required >
                                                <option *ngFor="let country of countries" [value]="country.toUpperCase()">{{country}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div style="display: flex; justify-content: center; align-items: center;">
                                        <button id ="submitBtn" [class.disabled]="noChanges" class="btn btn-primary btn-user btn-block" type="submit">Guardar Mudanças</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <br>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>


    <div class="modal-wrapper" [class.visible]="showAnswer">
        <div class="modal-container">
            <button class="modal-close-btn" (click)="closeAnswer()">Close</button>
            <br>
          <h2 [style.color]="success ? 'green' : 'red'" class="modal-title">{{answer}}</h2>
        </div>
      </div>

      <div class="modal-wrapper" *ngIf="confimaRemover" [class.visible]="confimaRemover">
        <div class="modal-container">

            <b style="font-size: 150%;">Tem a certeza que quer eliminar a sua conta {{utilizador.nome}}?</b> <p></p>
            <button class=" btn btn-outline-danger" (click)="removerConta()" style="width:30%; margin:auto; display:inline-block">Sim</button>
            <p></p>
            <button class=" btn btn-outline-dark" (click)="closeConfirmar()" style="width:30%; margin:auto; display:inline-block">Cancelar</button>
            <br>

        </div>
      </div>

    <script>
        let form = document.getElementById('formEdit');
        let formFields = form.querySelectorAll('input, textarea, select, button[type="submit"]');

        function noPermissionToEdit(){
            for (let i = 0; i < formFields.length; i++) {
                formFields[i].disabled = true;
            }
        }

        function grantPermissionToEditForm() {


            for (let j = 0; j < formFields.length; j++) {
                formFields[j].disabled = false;
            }
        }

        window.onload = noPermissionToEdit;
        document.getElementById('finishBtn').addEventListener('click', noPermissionToEdit);
        document.getElementById('editBtn').addEventListener('click', grantPermissionToEditForm);
    </script>
