
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <li ngbDropdown ngbDropdownToggle class="nav-item">
                <a  class="nav-link collapsed" data-toggle="collapse" data-target="#collapseLogin"
                    aria-expanded="true" aria-controls="collapseLogin">
                    <span class="mr-2 d-none d-lg-inline text-white" style="font-size: 18px;"><i class="bi bi-person"
                            style="font-size: 20px;"></i> Catarina Nunes</span>
                </a>
                <div ngbDropdownMenu id="collapseLogin" class="collapse" aria-labelledby="collapseLogin"
                    data-parent="#accordionSidebar">
                    <div ngbDropdownItem class="bg-white py-2 collapse-inner rounded">
                        <a ngbDropdownItem class="dropdown-item" href="/perfil-consumidor">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Perfil
                        </a>
                        <div class="collapse-divider"></div>
                        <a ngbDropdownItem class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>
                            Terminar sessão
                        </a>
                        <div class="collapse-divider"></div>
                        <a ngbDropdownItem class="dropdown-item" data-toggle="modal" data-target="#logoutModal1" style="color:red">
                            <i class="fas fa-trash fa-sm fa-fw mr-2 text-gray-400" ></i>
                            Eliminar conta
                        </a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin-consumidor">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/consumidor-historico">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Encomendas</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <h1 class="h3 mb-0 text-gray-800 mt-4">Dashboard</h1>
                        
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Número de encomendas realizadas</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Impacto
                                                Local
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">20%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-success" role="progressbar"
                                                            style="width: 20%" aria-valuenow="20" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example 
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Estado da última encomenda</div>
                                            <div class="mb-0 font-weight-bold text-gray-800">Pagamento</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-box fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-6 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Minha localidade</div>
                                            <div class=" mb-0 font-weight-bold text-gray-800">Portugal, Lisboa, Lisboa, Lumiar</div>
                                            <div class="small">País, Distrito, Município, Freguesia</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-search-location fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-sm-flex align-items-center justify-content-between mb-3">
                        <h1 class="h4 mb-0 text-gray-800 mt-4">Impacto Local</h1>
                    </div>

                            <!-- Content Row -->
                    <div class="row">

                        <div class="col-lg-8 mb-4 mx-auto">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Como funciona o impacto local?</h6>
                                </div>
                                <div class="card-body">
                                    
                                    <p>O impacto local é medido através do fornecedor que escolhe para comprar os seus produtos.</p>
                                    <p>A seguinte lista indica a ordem pela qual tem mais impacto.</p>
                                    <ul>
                                        <li>Freguesia</li>
                                        <li>Município</li>
                                        <li>Distrito</li>
                                        <li>País</li>
                                        <li>Continente</li>
                                    </ul>
                                    <p>Por exemplo, se encomendar algum produto de um continete diferente do seu o impacto é nulo, mas 
                                        se comprar perto ou na sua freguesia o impacto já é grande.
                                    </p>
                                        
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <form action="#" method="post">

                        <b>Pesquisar por:</b> &nbsp;

                        <select class="btn" id="filtraSelect" name="filtraSelect" style="border-color: #d1d3e2; background-color: white;">
                            <option disabled selected value>Localização</option>
                            <option value="freguesia">Freguesia</option>
                            <option value="municipio">Município</option>
                            <option value="distrito">Distrito</option>
                            <option value="pais">País</option>
                            <option value="continente">Continente</option>
                        </select>
                        &nbsp;

                        ou num <b>raio de:</b> &nbsp;
                        <input type="text" class="form-control form-control-user" style="width: 20%; display: inline-block;" id="exampleContinente" placeholder="ex.: 10km">

                        &nbsp;
                        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i>  Pesquisar</button>
                        <br>
                    </form>
                    <br>
                    <p class="h5">Por distrito</p>

                    <div class="card shadow mb-4 mt-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Número da encomenda</th>
                                            <th>Fornecedor</th>
                                            <th>Localidade</th>
                                            <th>Impacto</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>0005</td>
                                            <td>Fornecedor 1</td>
                                            <td>Lisboa</td>
                                            <td>50%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quer terminar sessão?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Terminar sessão" se pretende sair.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="/login">Terminar sessão</a>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar conta Modal-->
    <div class="modal fade" id="logoutModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza que quer eliminar esta conta?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Se selecionar "Eliminar", não será possível recuperar a sua conta.</div>
                <i class="fas fa-trash fa-sm fa-fw mr-2 d-inline-block mx-auto text-gray-800" ></i>
                <br>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="/login">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>

