<div id="wrapper" *ngIf="transporte">
    
    <!-- <app-sidebar></app-sidebar> -->
    <div id="content-wrapper" class="d-flex flex-column">
        

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <a (click)="goToTransportes()"> Voltar para transportes</a>
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h3 mb-0 text-gray-800 mt-4"> Viagens - Transporte #{{transporte.idTransporte}}
                    </h1> 
                        
                    <!-- <button class=" btn btn-outline-dark" (click)="toggleModal()"> Adiciona um novo Transporte </button> -->

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{transporte.matricula}}  <br>
                                            <div class="badge bg-info text-white" style="top: 0.5rem; right: 0.5rem">
                                                {{transporte.estadoTransporte}}</div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-truck fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <!-- <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Custo de
                                            Distribuição</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">200000€</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="bi bi-cash fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <!-- Earnings (Monthly) Card Example 
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Estado da última encomenda</div>
                                            <div class="mb-0 font-weight-bold text-gray-800">Pagamento</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-box fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    <!-- Pending Requests Card Example -->
                    <!-- <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Minha localidade</div>
                                        <div class=" mb-0 font-weight-bold text-gray-800">{{getLocalidade()}}</div>
                                        <div class="small">Continente, País, Distrito, Município, Freguesia</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-search-location fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card shadow mb-4 mt-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>

                                    <tr>
                                        <th>Número</th>
                                        <th>Inicio</th>
                                        <th>Fim</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Número</th>
                                        <th>Inicio</th>
                                        <th>Fim</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    <tr *ngFor="let viagem of viagens">
                                        <td>{{viagens.indexOf(viagem)+1}}</td>
                                        <td *ngIf="viagem.dataInicio!==null">{{getData(viagem.dataInicio!)}}</td>
                                        <td *ngIf="viagem.dataInicio===null">Ainda não foi iniciada</td>
                                        <td *ngIf="viagem.dataFim!==null">{{getData(viagem.dataFim!)}}</td>
                                        <td *ngIf="viagem.dataFim===null">Ainda não foi terminada</td>
                                        <td>
                                            <div class="badge bg-info text-white" style="top: 0.5rem; right: 0.5rem">
                                                {{viagem.estadoViagem}}</div>
                                        </td>
                                        <th><a (click)="showDetalhesViagem(viagem)"><i
                                                    class="fa fa-search"></i></a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div style="margin: auto; display:table">

                <a class="btn btn-outline-dark" [class.disabled]="previousButtonDisabled" (click)="previousPage()"> <i class="fas fa-angle-left"></i> </a> 
                &nbsp;
                <a class="btn btn-outline-dark" [class.disabled]="nextButtonDisabled" (click)="nextPage()"> <i class="fas fa-angle-right"></i> </a> 
            
            </div>
            <br><br>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>




<div class="modal-wrapper" *ngIf="viagemDestaque" [class.visible]="showModal">
    <div class="modal-container">
        <button class=" btn btn-outline-dark" (click)="toggleModal()">Cancel</button>
        <br>
        <div class="col " > <h5><strong>{{viagemDestaque.estadoViagem}}</strong></h5>
            
        </div>
        <article class="card  mt-4">
            <!-- <header class="card-header"> Detalhes </header> -->
            <div class="card-body">
                <article class="card">
                    <div class="card-body row" style= "align-items: center;">
                        <div class="col" *ngIf="viagemDestaque.dataInicio"> <strong>Inicio:</strong> <br>{{getData(viagemDestaque.dataInicio)}}</div>


                        <div class="col" *ngIf="viagemDestaque.dataFim"> <strong>Fim:</strong> <br>{{getData(viagemDestaque.dataFim)}}</div>


                        

                        <div class="col" *ngIf="!viagemEstado('Finalizada')"> 
                            <button class="btn btn-outline-dark" *ngIf="viagemEstado('Programada')" (click)="iniciarViagem()">Iniciar Viagem</button>
                            <button class="btn btn-outline-dark" *ngIf="viagemEstado('Iniciada')" (click)="terminarViagem()">Terminar Viagem</button>
                        </div>


                    </div>
                </article>
         
            </div>
        </article>
        <div>
            <!-- Se estiver programada -->
            

        </div>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
            <tbody>
                <tr *ngFor="let subItem of viagemDestaque.subItems">

                    <td>{{subItem.item?.idItem}}</td>
                    <td>{{subItem.quantidade}}x</td>

                    <td>{{subItemEstaEntregue(subItem.idSubItem!)}}</td>
                    <td *ngIf="subItemEstaEntregue(subItem.idSubItem!) === 'Por Entregar' && viagemEstado('Iniciada')">
                        <button (click)="entregarSubItem(subItem.idSubItem!)" class="btn btn-outline-dark">Entregar</button>
                    </td>

                </tr>
            </tbody>
        </table>


        <!-- private Timestamp dataInicio;
         private Timestamp dataFim;
         private EstadoViagem estadoViagem;
         private SimpleTransporteDTO transporte;
         private List<SubItemDTO> subItems; -->
            
        <!-- <form [formGroup]="transporteForm" (ngSubmit)="onSubmit()">
            <div>
              <label for="matricula">Matrícula: &nbsp;</label>
              <input type="text" pattern="[a-zA-Z]{2}-[0-9]{2}-[a-zA-Z]{2}" id="matricula" formControlName="matricula" required>

            </div>
            <br>
            <div>    
                <p >Estado do Transporte: &nbsp;</p> 
                <select formControlName="estadoTransporte" required >
                    <option *ngFor="let estado of estados" [value]="estado.toUpperCase()" >{{ estado.toString()}}</option>
                </select>                                            
            </div>
            <br>

            <div>    
                <p >Unidade de Produção: &nbsp;</p> 
                <select formControlName="uniProd" required >
                    <option *ngFor="let uniProd of uniProds" [value]="uniProd.idUnidade" >{{ uniProd.nomeUniProd}}</option>
                </select>                                            
            </div>
            
            <button class=" btn btn-outline-dark" [disabled]="!transporteForm.valid" type="submit">Submit</button>
            <p *ngIf="!transporteForm.valid">Tem de preencher todos os campos</p>
        </form>           -->

    </div>
  </div>

  <div class="modal-wrapper" [class.visible]="showAnswer">
    <div class="modal-container">
        <button class="modal-close-btn" (click)="toggleAnswer()">Close</button>
        <br>
      <h2 [style.color]="success ? 'green' : 'red'" class="modal-title">{{answer}}</h2>
    </div>
  </div>
