<!-- eliminar conta Modal-->
<div class="modal fade" id="logoutModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem a certeza que quer eliminar esta conta?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Se selecionar "Eliminar", não será possível recuperar a sua conta.</div>
            <i class="fas fa-trash fa-sm fa-fw mr-2 d-inline-block mx-auto text-gray-800"></i>
            <br>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="/login">Eliminar</a>
            </div>
        </div>
    </div>
</div>