   <!-- Header-->
   <header class="bg-secondary py-5" id="title_inicial">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Marketplace</h1>
            <p class="lead fw-normal text-white-50 mb-0">Supermercado online para impulsionar os négocios locais</p>

            <div class="card_inicial" style="width: 20rem;">
                <div class="card-body" style="color: black;">
                    <h5 class="card-title"><i class="bi bi-patch-question"></i></h5>
                    <p id="titulo_card" class="bg-success">Perguntas e respostas</p>
                    <p class="card-text" style="color:black">Dispomos algumas perguntas frequentes e respetivas
                        respostas. Mais dúvidas? Contacte-nos!</p>
                </div>
            </div>

            <div class="card_inicial" style="width: 20rem;">
                <div class="card-body" style="color: black;">
                    <h5 class="card-title"><i class="bi bi-shop-window"></i></h5>
                    <p id="titulo_card" class="bg-success">Lojas parceiras</p>
                    <p class="card-text" style="color:black">Veja a baixo todas as lojas comerciais que nós
                        ajuda-mos a divulgar o négocio de bens alimentares.</p>
                </div>
            </div>
        </div>
    </div>
    
<div class="container">

    <div id="accordion">
        <div class="card">
            <div  class="card-header" id="headingOne">
                <a data-bs-toggle="collapse" href='/termos-condicoes' role="button"
                    aria-expanded="false" aria-controls="collapseOne">
                    Podemos fazer uma encomenda com produtos de várias lojas?
                </a>
            </div>

            <div id="collapseOne" class="collapse">
                <div  class="card card-body">
                    Sim. É possível na mesma encomenda incluir vários produtos de fornecedores diferentes.
                </div>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-header" id="headingtwo">
                <a data-bs-toggle="collapse" href="#collapseTwo" role="button"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Como posso efetuar o pagamento?
                </a>
            </div>

            <div id="collapseTwo" class="collapse">
                <div class="card card-body">
                    Multibanco, MB WAY, VISA.
                </div>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-header" id="headingthree">
                <a data-bs-toggle="collapse" href="#collapseThree" role="button"
                    aria-expanded="false" aria-controls="collapseThree">
                    Porque tenho de incluir, no meu registo, tantos dados acerca da minha localização?
                </a>
            </div>

            <div id="collapseThree" class="collapse">
                <div class="card card-body">
                    O objetivo deste website é ajudar os pequenos negócios a chegarem a mais pessoas, sendo necessário a sua localização para saber se o seu impacto local está a ser positivo.
                </div>
            </div>
        </div>
    </div>
</div>
</header>