
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseLogin"
                    aria-expanded="true" aria-controls="collapseLogin">
                    <span class="mr-2 d-lg-inline d-sm-inline-block text-white" style="font-size: 18px;"><i class="bi bi-person"
                            style="font-size: 20px;"></i> Catarina Nunes</span>
                </a>
                <div id="collapseLogin" class="collapse" aria-labelledby="collapseLogin"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="dropdown-item" href="/perfil-consumidor">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Perfil
                        </a>
                        <div class="collapse-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400" ></i>
                            Terminar sessão
                        </a>
                        <div class="collapse-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal1" style="color:red">
                            <i class="fas fa-trash fa-sm fa-fw mr-2 text-gray-400" ></i>
                            Eliminar conta
                        </a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin-consumidor">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/consumidor-historico">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Encomendas</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800 mt-4">Perfil</h1>
                    <p>Pode alterar qualquer um dos campos abaixo.</p>

                    <div class="row">
                        <div class = "col-lg-4">
                            <div class="card" style="height: 37em;">
                                
                                <i class="bi bi-person-square" style="font-size: 200px; text-align: center;"></i>
                                
                                <div class="card-body py-1">
                                    <div class=" text-center">
                                        
                                        <h5 class="fw-bolder">Catarina Silva</h5>
                                        <p>Consumidora</p>
                                    </div>
                                </div>
    
                                <br>
                                <!-- Product actions-->
                                <div class="card-footer p-3 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-3" href="#" id="editBtn">Editar Perfil</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8" style="background-color: #fff; border:1px solid #e3e6f0;">
                            <div class="p-5">
                                <form id="formEdit" class="user">
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control form-control-user" id="exampleContribuinte" placeholder="Nº de Contribuinte">
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nome">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control form-control-user" id="exampleTelemovel" placeholder="Telemóvel">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control form-control-user" id="exampleContinente" placeholder="Continente">
                                        </div>
                                        <div class="col-sm-4 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" id="examplePais" placeholder="País">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control form-control-user" id="exampleDistrito" placeholder="Distrito">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" id="exampleMunicipio" placeholder="Município">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="exampleFreguesia" placeholder="Freguesia">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" id="exampleMorada" placeholder="Morada">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="exampleCodigoPostal" placeholder="Código Postal">
                                        </div>
                                    </div>
                                    <p style="text-align: center;" class="mb-1">Coordenadas geográficas</p>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" class="form-control form-control-user" id="exampleLatitude" placeholder="Latitude">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" id="exampleLongitude" placeholder="Longitude">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="E-mail">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Palavra-passe">
                                        </div>
                                    </div>
                                    <div style="display: flex;
                                    justify-content: center;
                                    align-items: center;">
                                        <a href="#" id ="finishBtn" class="btn btn-success col-sm-2">Salvar as alterações</a> &nbsp;&nbsp;
                                        <a href="/admin-consumidor" class="btn btn-secondary col-sm-2">Cancelar</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>  
                        
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Quer terminar sessão?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Terminar sessão" se pretende sair.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="/login">Terminar sessão</a>
                </div>
            </div>
        </div>
    </div>

    <!-- eliminar conta Modal-->
    <div class="modal fade" id="logoutModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tem a certeza que quer eliminar esta conta?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Se selecionar "Eliminar", não será possível recuperar a sua conta.</div>
                <i class="fas fa-trash fa-sm fa-fw mr-2 d-inline-block mx-auto text-gray-800" ></i>
                <br>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="/login">Eliminar</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        let form = document.getElementById('formEdit');
        let formFields = form.querySelectorAll('input, textarea, select, button[type="submit"]');
        
        function noPermissionToEdit(){
            for (let i = 0; i < formFields.length; i++) {
                formFields[i].disabled = true;
            }
        }
        
        function grantPermissionToEditForm() {
            
            
            for (let j = 0; j < formFields.length; j++) {
                formFields[j].disabled = false;
            }
        }

        window.onload = noPermissionToEdit;
        document.getElementById('finishBtn').addEventListener('click', noPermissionToEdit);
        document.getElementById('editBtn').addEventListener('click', grantPermissionToEditForm);
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
