<div id="wrapper" >
    
    <!-- <app-sidebar></app-sidebar> -->
    <div id="content-wrapper" class="d-flex flex-column">
        

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-3">
                    <h1 class="h3 mb-0 text-gray-800 mt-4"> Transportes</h1>

                </div>

                <!-- Content Row -->
                <div class="row" style="display: flex; justify-content: space-between;">

                    <!-- Earnings (Monthly) Card Example -->
                    <!-- <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Número de Transportes</div>
                                        <div *ngIf="transportes" class="h5 mb-0 font-weight-bold text-gray-800">{{transportes.length}}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-truck fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-xl-3 col-md-6 mb-4 " style="cursor: pointer" >
                        <div (click)="toggleModal()" class="card border-left-success hover-shadow h-100 py-2">
                            <div class="card-body ">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <!-- <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Adiciona um novo Transporte 
                                        </div> -->
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Adiciona um novo Transporte </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-plus fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 mb-4 " style="cursor: pointer" >
                        <div (click)="showModalNovaViagem()" class="card border-left-success hover-shadow h-100 py-2">
                            <div class="card-body ">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">Agendar Viagem </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example 
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Estado da última encomenda</div>
                                            <div class="mb-0 font-weight-bold text-gray-800">Pagamento</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-box fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    <!-- Pending Requests Card Example -->
                    <!-- <div class="col-xl-6 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Minha localidade</div>
                                        <div class=" mb-0 font-weight-bold text-gray-800">{{getLocalidade()}}</div>
                                        <div class="small">Continente, País, Distrito, Município, Freguesia</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-search-location fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <a class="btn btn-outline-dark" [class.disabled]="previousButtonDisabled" (click)="previousPage()" > <i class="fas fa-angle-left"></i> </a> 

                <a class="btn btn-outline-dark" [class.disabled]="nextButtonDisabled" (click)="nextPage()" > <i class="fas fa-angle-right"></i> </a> 


                <div class="card shadow mb-4 mt-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>Matrícula</th>
                                        <th>Unidade de Produção</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Número</th>
                                        <th>Matrícula</th>
                                        <th>Unidade de Produção</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    <tr *ngFor="let transporte of transportes">
                                        <td>{{transporte.idTransporte}}</td>
                                        <td>{{transporte.matricula}}</td>
                                        <td>{{transporte.unidadeDeProducao?.nomeUniProd}}</td>
                                        <td>
                                            <div class="badge bg-info text-white" style="top: 0.5rem; right: 0.5rem">
                                                {{transporte.estadoTransporte}}</div>
                                        </td>
                                        <th><a (click)="goToViagens(transporte)" routerLink="/viagens"><i
                                                    class="fas fa-arrow-right"></i></a></th>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>




<div class="modal-wrapper" [class.visible]="showModal">
    <div class="modal-container">
        <button class=" btn btn-outline-dark" (click)="toggleModal()">Cancel</button>
        <br>
        <form [formGroup]="transporteForm" (ngSubmit)="onSubmit()">
            <div>
              <label for="matricula">Matrícula: &nbsp;</label>
              <input type="text" pattern="[a-zA-Z]{2}-[0-9]{2}-[a-zA-Z]{2}" id="matricula" formControlName="matricula" required>

            </div>
            <br>
            <div>    
                <p >Estado do Transporte: &nbsp;</p> 
                <select formControlName="estadoTransporte" required >
                    <option *ngFor="let estado of estados" [value]="estado.toUpperCase()" >{{ estado.toString()}}</option>
                </select>                                            
            </div>
            <br>

            <div>    
                <p >Unidade de Produção: &nbsp;</p> 
                <select formControlName="uniProd" required >
                    <option *ngFor="let uniProd of uniProds" [value]="uniProd.idUnidade" >{{ uniProd.nomeUniProd}}</option>
                </select>                                            
            </div>
            
            <button class=" btn btn-outline-dark" [disabled]="!transporteForm.valid" type="submit">Submit</button>
            <p *ngIf="!transporteForm.valid">Tem de preencher todos os campos</p>
        </form>          
      <!-- <h2 class="modal-title">Modal Title</h2>
      <p class="modal-content">Modal Content Here</p> -->
    </div>
  </div>

  <div class="modal-wrapper" [class.visible]="showNovaViagem">
    <div class="modal-container bigger">
        <button class=" btn btn-outline-dark" (click)="toggleNovaViagem()">Cancel</button>
        <br>
        <form [formGroup]="viagemForm" style="width: 100%;" (ngSubmit)="onSubmitViagem()">

            <div>    
                <p >Transporte: &nbsp;</p> 
                <select formControlName="transporte" (change)="onTransporteSelected()" [(ngModel)]="selectedTransporteId" required >
                    <option *ngFor="let transporte of transportesDisponiveis" [value]="transporte.idTransporte" >{{ transporte.matricula}} -- {{transporte.unidadeDeProducao?.nomeUniProd}}</option>
                </select>                                            
            </div>
            <hr>

            <div  *ngIf="selectedTransporteId && itensNaoEntregues" formArrayName="subItems">
                <div *ngFor="let item of itensNaoEntregues; let i = index" class="linha">
                  <!-- Item form control -->
                  <div >
                    <input class="left" type="checkbox"  [value]="item.idItem" (change)="toggleItemChecked(item.idItem!)"> 
                    {{item.idItem}} - {{item.produtoNome}}
                  </div>
                  
                  <!-- Quantidade form control -->
                  <div *ngIf="isItemChecked(item.idItem!) !== null" >
                    <input class="right" type="number" (input)="addSubItem(item.idItem!, $event)" min="0" [max]="item.quantidade! - item.quantidadeDespachada!" required>
                    <br>
                    Qtd. encomendada - {{item.quantidade}} <br> Qtd. a entregar - {{item.quantidadeDespachada}} <br> Qtd. em stock - {{item.quantidadeStock}}
                  </div>
                  <hr>

                </div>

              </div>
            <br>
            <button class=" btn btn-outline-dark" [disabled]="!viagemForm.valid || !validado" type="submit">Submit</button>
            <p *ngIf="!viagemForm.valid">Tem de preencher todos os campos</p>
        </form>          
    </div>
  </div>



  <div class="modal-wrapper" [class.visible]="showAnswer">
    <div class="modal-container">
        <button class="modal-close-btn" (click)="toggleAnswer()">Close</button>
        <br>
      <h2 [style.color]="success ? 'green' : 'red'" class="modal-title">{{answer}}</h2>
    </div>
  </div>
