<li>
    <a style="padding: 3%; width: max-content;cursor: pointer; " (click)="goToProdutos(subCategoria)" (mouseenter)="selectSubCategoria(subCategoria)" class="media d-flex align-items-center">
       
    {{ subCategoria.nomeSubCategoria }}</a>
    <ul  *ngIf="subCategoria.subCategoriasFilhos?.length && subcategoriaEscolhida === subCategoria">
        <a style="cursor: pointer;" (click)="goToProdutos(subCategoria)">Ver Todos</a>
        <app-sub-categorias 
        *ngFor="let subCategoriaFilho of subCategoria.subCategoriasFilhos"
        [subCategoria]="subCategoriaFilho"
      ></app-sub-categorias>
    </ul>
</li>