<ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li style="cursor: pointer;" ngbDropdownItem (click)="goToProdutos(undefined)"><a class="dropdown-item" >Todos os produtos</a></li>
    <li><div class="dropdown-divider"></div></li>

    <ul ngbDropdownItem *ngFor="let categoria of categorias">
        <li style="cursor: pointer;" (mouseenter)="selectCategoria(categoria)" class="dropdown-item"> {{ categoria.nomeCategoria }}
            <i class="fas fa fa-angle-right	mr-2" ></i>
        </li>
    </ul>
    <ul *ngIf="categoriaEscolhida" class="eu">
        <li style="cursor: pointer;" style="padding: 3%; width: max-content;" (click)="goToProdutos(categoriaEscolhida)" (mouseenter)="showCategoria(categoriaEscolhida)" class="media  align-items-center">
            Ver Todos
        </li>
        <div class="dropdown-divider"></div>

        <app-sub-categorias
        *ngFor="let subCategoria of subcategorias"
        [subCategoria]="subCategoria" 
        ></app-sub-categorias>
    </ul>
    <!-- <li ngbDropdownItem><a class="dropdown-item" >Latícinios</a></li>
    <li ngbDropdownItem><a class="dropdown-item" >Talho</a></li> -->
</ul>
