<div class="container mt-4">

    <h1 class="h3 mb-4 text-gray-800 mt-4">Carrinho de compras</h1>

    <section class="h-100 h-custom" style="background-color: #eee; border-radius: 15px;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card">
                        <div class="card-body p-4">

                            <div class="row">

                                <div class="col-lg-7">
                                    <h5 class="mb-3"><a (click)="goToProdutos()" class="text-body"><i
                                                class="fas fa-long-arrow-alt-left me-2"></i>Continuar compras</a>
                                    </h5>
                                    <hr>

                                    <div *ngIf="carrinho" class="d-flex justify-content-between align-items-center mb-4">
                                        <div>
                                            <p class="mb-0">Tem {{carrinho.length}} artigos no seu carrinho</p>

                                        </div>
                                    </div>

                                    <div *ngFor="let item of items" class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="assets/iorgute.jpg"
                                                            class="img-fluid rounded-3" alt="Shopping item"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>{{item.produto.nome}}</h5>
                                                        <p class="small mb-0">{{item.produto.descricao}}</p>
                                                        <p class="small mb-1">{{item.fornecedor.nome}}</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">{{item.quantidade}}</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">{{item.preco}}€</h5>
                                                    </div>
                                                    <a (click)="removeItem(item)" style="color: #cecece;"><i
                                                            class="fas fa-trash-alt"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-5">

                                    <div class="card bg-primary text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h5 class="mb-0">Detalhes do carrinho</h5>
                                            </div>

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <div>
                                                    <p class="mb-0"><i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp;</p>
                                                </div>
                                                <div class="col"> <strong>Morada para entrega:</strong> <br>  {{getMinhaMorada()}}
                                                </div>
                                            </div>
                                            <!-- <div class="d-flex justify-content-between">
                                                <p class="mb-2">Subtotal</p>
                                                <p class="mb-2">14.17€</p>
                                            </div> -->

                                            <a [class.disabled]="carrinho.length === 0" type="button" class="btn btn-info btn-block btn-lg" (click)="criaEncomenda()">
                                                <div class="d-flex justify-content-between">
                                                    <span>{{totalCarrinho()}}€</span>
                                                    <span>Comprar <i
                                                            class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                                </div>
                                            </a>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<br>


<!---------------------------------- RESPOSTA ---------------------------------->

<div class="modal-wrapper" [class.visible]="showAnswer">
    <div class="modal-container">
        <button class="modal-close-btn" (click)="toggleAnswer()">Close</button>
        <br>
        
      <h2 [style.color]="success ? 'green' : 'red'" class="modal-title">{{answer}}</h2>
    </div>
  </div>