<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <!-- <button (click)='getProdutos()' class="navbar-brand">Teste</button> -->
        <a class="navbar-brand" routerLink='/marketplace'>Marketplace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                <li ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Produtos</a>
                    <app-categorias></app-categorias>
                </li>

                <li *ngIf="role && role !== 'ROLE_ADMIN'" class="nav-item"><a routerLink='/marketplace/encomendas' routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page">Encomendas</a></li>

                <li *ngIf="role === 'ROLE_FORNECEDOR'" class="nav-item"><a routerLink='/marketplace/uniProds' routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page">Unidades de Produção</a></li>

                <li *ngIf="role === 'ROLE_FORNECEDOR'" class="nav-item"><a routerLink='/marketplace/transportes' routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page">Transportes</a></li>

                <li *ngIf="role === 'ROLE_ADMIN'" class="nav-item"><a routerLink='/marketplace/utilizadores' routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active" aria-current="page">Utilizadores</a></li>


                <li *ngIf="role" ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Relatórios</a>
                    <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li style="cursor: pointer;" ngbDropdownItem><a class="dropdown-item" (click)="goToRelatorio('zonas')">Zonas</a></li>
                        <li style="cursor: pointer;" ngbDropdownItem><a class="dropdown-item" (click)="goToRelatorio('distancias')">Distâncias</a></li>
                    </ul>
                </li>

            </ul>


            <li *ngIf="role === 'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown d-flex">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 2%;"><i class="bi bi-person-square"></i>&nbsp; Admin</a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li style="cursor: pointer;" ngbDropdownItem><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </li>

            <li *ngIf="role && role !== 'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown d-flex">
                <a *ngIf="role &&user" ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding:0 20px 3px 0;"><i class="bi bi-person-square"></i>&nbsp; {{user!.nome}}</a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li style="cursor: pointer;" ngbDropdownItem><a class="dropdown-item" routerLink="/marketplace/perfil-consumidor" (click)="goToPerfil()">Perfil</a></li>
                        <li style="cursor: pointer;" ngbDropdownItem><a class="dropdown-item" (click)="abreNotif()">Notificações</a>
                        <p *ngIf="numNotifs > 0 " class="notifCount">{{numNotifs}}</p>
                    </li>

                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li style="cursor: pointer;" ngbDropdownItem><a class="dropdown-item" (click)="logout()">Logout</a></li>
                </ul>
            </li>

            <li *ngIf="!role" ngbDropdown class="nav-item dropdown d-flex">
                <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="padding-right: 2%;"><i class="bi bi-person-square" ></i></a>
                <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li ngbDropdownItem><a class="dropdown-item" routerLink='/marketplace/login' >Login</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li ngbDropdownItem><a class="dropdown-item" routerLink='/marketplace/register' >Registo</a></li>
                </ul>
            </li>

            <!-- <form class="d-flex"> -->
            <a *ngIf="role !== 'ROLE_FORNECEDOR' && role !== 'ROLE_ADMIN'" class="btn btn-outline-dark" type="submit" routerLink="/marketplace/cesto" (click)="goToCesto()">


                <i class="bi-cart-fill me-1"></i>

                <span class="badge bg-dark text-white ms-1 rounded-pill">{{cestoService.getItems().length}}</span>
            </a>
            <!-- </form> -->
        </div>
    </div>
</nav>

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <router-outlet> </router-outlet>

    </div>
    <br>

</div>


<!-- Footer -->
<footer class="text-center text-lg-start navbar-light bg-light text-gray">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4" style="background-color: #4e73df">

    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">Marketplace</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #4e73df; height: 2px" />
                    <p>
                        Supermercado online para impulsionar e ajudar os négocios locais
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Produtos</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #4e73df; height: 2px" />
                    <p>
                        Um produto pode ter vários fornecedores. Compre os produtos aos fornecedores perto de si!
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">links úteis</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #4e73df; height: 2px" />
                    <p>
                        <a routerLink='/marketplace/register' class="">Crie uma conta</a>
                    </p>
                    <p>
                        <a routerLink='/marketplace/produtos' class="">Nossos produtos</a>
                    </p>
                    <p>
                        <a routerLink='/marketplace/termos-condicoes' class="">Termos e condições</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold">Contactos</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #4e73df; height: 2px" />

                    <p>
                        <mat-icon style="vertical-align: text-bottom;">home</mat-icon> &nbsp; Lisboa</p>
                    <p>
                        <mat-icon style="vertical-align: text-bottom;">mail</mat-icon> &nbsp; info@marketplace.com</p>
                    <p>
                        <mat-icon style="vertical-align: text-bottom;"> call</mat-icon> &nbsp; + 91 234 567 88</p>

                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->

<div class="modal-wrapper" [class.visible]="showAnswer">
    <div class="modal-container">
        <button class="btn btn-outline-dark" (click)="toggleAnswer()">Close</button>
        <br>
        <h2 [style.color]="success ? 'green' : 'blue'" class="modal-title">{{answer}}</h2>

    </div>
</div>

<!-- The modal -->
<div class="notifBox" *ngIf="showNotifs">
    <a style="cursor:pointer;" (click)="toggleNotifs()">&times;</a>
    <div *ngIf="notifs && notifs.length>0">
        <ul *ngFor="let notif of notifs">
            <li> {{notif.mensagem}}
                <button *ngIf="role === 'ROLE_FORNECEDOR'" class="btn btn-outline-secondary" (click)="showEncomenda(notif.subEncomenda?.idSubEncomenda!)"> {{notif.subEncomenda?.idSubEncomenda}}</button>
                <button *ngIf="role === 'ROLE_CONSUMIDOR'" class="btn btn-outline-secondary" (click)="showEncomenda(notif.subEncomenda?.encomenda!.idEncomenda!)">{{notif.subEncomenda?.encomenda!.idEncomenda}}</button> &nbsp;
                <a (click)="entregarNotif(notif.idNotificacao!)" style="cursor: pointer;"><mat-icon style="vertical-align: text-bottom; color: #c91527;">delete</mat-icon></a>
            </li>

        </ul>
    </div>
    <div *ngIf="notifs === null||(notifs && notifs.length===0)">
        <h3>Não tem Notificações</h3>
    </div>
</div>

<div class="modal-wrapper" [class.visible]="showEncomendaModal">
    <div class="modal-container">
        <button class=" btn btn-outline-secondary" style="position: fixed; z-index: 3;" (click)="toggleEncomenda()">Close</button>
        <br>
        <app-detalhes-encomenda-consumidor [showDetalhes]=true [subencomenda]=subencomendaDestaque [encomenda]=encomendaDestaque></app-detalhes-encomenda-consumidor>
    </div>
</div>
