<!-- Header-->
<header class="bg-secondary py-5" id="title_inicial">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 *ngIf="bemVindo()" class="display-4 fw-bolder">Seja Bem-Vindo ao</h1>

            <h1 class="display-4 fw-bolder">Marketplace</h1>
            <p class="lead fw-normal text-white-50 mb-0">Supermercado online para impulsionar os négocios locais</p>

            <div class="card_inicial" style="width: 18rem;">
                <div class="card-body" style="color: black;">
                    <h5 class="card-title"><i class="bi bi-box"></i></h5>
                    <p id="titulo_card">Comprar produtos</p>
                    <p class="card-text" style="color:black">Variadade de produtos alimentares, bens essencias e
                        outros cuidados pessoais.</p>
                    <a routerLink="/marketplace/produtos" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-link active" aria-current="page" class="btn btn-success">Começar a comprar</a>
                </div>
            </div>

            <div class="card_inicial" style="width: 18rem;">
                <div class="card-body" style="color: black;">
                    <h5 class="card-title"><i class="bi bi-house"></i></h5>
                    <p id="titulo_card">Impacto Local</p>
                    <p class="card-text" style="color:black">Informamos o impacto das suas encomendas na comunidade
                        onde reside.</p>
                    <a routerLink='/marketplace/termos-condicoes' routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="nav-link active" aria-current="page" class="btn btn-success">Consulte os termos e condições</a>
                </div>
            </div>

            <div class="card_inicial" style="width: 18rem;">
                <div class="card-body" style="color: black;">
                    <h5 class="card-title"><i class="bi bi-clock-history"></i></h5>
                    <p id="titulo_card">Disponibilidade</p>
                    <p class="card-text" style="color:black">Diversos serviços de transporte para ter tudo o que
                        precisa rapidamente.</p>
                    <a href="#" class="btn btn-success">Contacte-nos!</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Section-->
<!----
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">

                    <img class="card-img-top" style="padding: 45px;" src="assets/banana.jpg" alt="..." />

                    <div class="card-body p-4">
                        <div class="text-center">

                            <h5 class="fw-bolder">Bananas</h5>
                            1.09€ - 1.19€
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Carrinho</a></div>
                    </div>

                    
                    <div class="card-overlay">
                        <div class="overlay-text text-center">
                            <p>Detalhes:</p>
                            <p>Bananas da Madeira são boas como o caralho</p>
                            <p>Fornecedor: &nbsp;</p><a href='/marketplace/admin-fornecedor'>Fornecedor 05</a>  
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        Promoção</div>
                    <img class="card-img-top" src="assets/frango.jpeg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Frango Inteiro</h5>

                            <span class="text-muted text-decoration-line-through">4.99€</span>
                            3.99€
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Carrinho</a></div>
                    </div>
                    <div class="card-overlay">
                        <div class="overlay-text text-center">
                            <p>Detalhes:</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" style="padding: 45px;" src="assets/leite.webp" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Leite 1l</h5>
                            0.89€
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Carrinho</a></div>
                    </div>
                    <div class="card-overlay">
                        <div class="overlay-text text-center">
                            <p>Detalhes:</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" style="padding: 45px;" src="assets/pasta.webp" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Pasta de dentes</h5>
                            2.98€
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Carrinho</a></div>
                    </div>
                    <div class="card-overlay">
                        <div class="overlay-text text-center">
                            <p>Detalhes:</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">
                        Promoção</div>
                    <img class="card-img-top" style="padding: 45px;" src="assets/iorgute.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Iogurte de morango sem lactose</h5>
                            <span class="text-muted text-decoration-line-through">1.29€</span>
                            1.49€
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Carrinho</a></div>
                    </div>
                    <div class="card-overlay">
                        <div class="overlay-text text-center">
                            <p>Detalhes:</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" style="padding: 35px;" src="assets/pao.webp" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Pão 45gr</h5>
                            0.24€
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Carrinho</a></div>
                    </div>
                    <div class="card-overlay">
                        <div class="overlay-text text-center">
                            <p>Detalhes:</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <img class="card-img-top" style="padding: 40px;" src="assets/sal.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Sal grosso 1kg</h5>
                            <span class="text-muted text-decoration-line-through"></span>
                            0.25€
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Carrinho</a></div>
                    </div>
                    <div class="card-overlay">
                        <div class="overlay-text text-center">
                            <p>Detalhes:</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" style="padding: 25px;" src="assets/fralda.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">Fraldas ExtraCare - 40 unid</h5>
                            8.49€
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Carrinho</a></div>
                    </div>
                    <div class="card-overlay">
                        <div class="overlay-text text-center">
                            <p>Detalhes:</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" style="display: table; margin-left: auto; margin-right: auto" class="btn btn-success">Continuar
            a ver produtos</a>
    </div>
</section> -->