body {
    background-color: #edf1f5;
    margin-top: 20px;
}

.card {
    margin-bottom: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}

.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}

.table-product td {
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-wrapper.visible {
    display: flex;
}

.modal-container {
    align-items: right;
    width: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    /* max-width: 500px; */
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    position: relative;
    overflow-y: auto;
    /* Add this line to enable vertical scrolling */
    max-height: 500px;
    /* Optional: Set a max-height to limit the scrollable area */
}

.modal-title {
    font-size: 24px;
    margin-top: 0;
}

.modal-content {
    margin-bottom: 20px;
}

.modal-close-btn {
    margin: 10px;
    margin-right: -10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 5px;
}