
<header class="bg-secondary py-5" id="title_inicial"> 
    <div class="container" id="registo">
        <div class="row justify-content-center">
            <div class="col-xl-16 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-register">
                                <img style="width: inherit; height: -webkit-fill-available;" src="assets/E-Commerce Facebook Ad.png">
                            </div>

                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Vamos criar uma conta?</h1>
                                    </div>
                                    <form class="user" action="/login" method="post">
                                        <div class="form-group row">
                                            <div class="col-sm">    
                                                <p class="d-inline-block">Quer se inscrever como: &nbsp;</p> 
                                                <select class="form-control-user p-2 d-inline-block text-warning fw-bold w-45" id="filtraSelect" name="filtraSelect" style="border-color: #d1d3e2; background-color: white;" required >
                                                    
                                                    <option selected value="consumidor">Consumidor</option>
                                                    <option value="fornecedor">Fornecedor</option>
                                                </select>                                            
                                            </div>
                                        </div>
                                        <div id = "camposConsumidor" class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="name">Nome:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="Nome" required>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="tlmv">Telemovel:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleTelemovel" placeholder="Telemóvel" required>
                                            </div>
                                        </div>

                                        <div id = "camposFornecedor" class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="nameForn">Nome Fornecedor:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleNameFornecedor" placeholder="Nome Fornecedor" required>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="contacto">Contacto:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleContacto" placeholder="Contacto" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="morada">Morada:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleMorada" placeholder="Morada" required>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="codPostal">Código Postal:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleCódigoPostal" placeholder="Código Postal" required>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="distrito">Distrito:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleMorada" placeholder="Distrito" required>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="concelho">Concelho:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleCódigoPostal" placeholder="Concelho" required>
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <label for="freguesia">Freguesia:</label>
                                                <input type="text" class="form-control form-control-user" id="exampleCódigoPostal" placeholder="Freguesia" required>
                                            </div>
                                        </div>
                                        
                                       <div class="form-group">
                                            <label for="email">Email:</label>
                                            <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="E-mail" required>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="pass">Palavra-passe:</label>
                                                <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Palavra-passe" required>
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label for="pass">Repetir Palavra-passe:</label>
                                                <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repetir Palavra-passe" required>
                                            </div>
                                        </div>
                                        <input type="submit"  class="btn btn-primary btn-user btn-block" value="Criar Conta!" id ="submitBtn">
                                        
                                        <a href="" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Registar com o Google
                                        </a>
                                    </form>
                                    <hr>
                                    
                                    <div class="text-center">
                                        <a class="small" href="/login">Já tem uma conta? Faça Login!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>